<section class="mt-2">

    <div class="card">

        <div class="card-body">

            <h4>Mis Niveles</h4>

            <!-- Basic accordion -->
            <div class="accordion" id="accordionExample">

                <!-- Item -->
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Nivel 1</button>
                    </h2>
                    <div class="accordion-collapse collapse show" id="collapseOne" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                        <div class="accordion-body">

                            <div>
                                <i class="ci-user"></i> {{ first.length }}
                            </div>
                            <hr>
                            <div class="d-flex flex-wrap gap-2">
                                <p class="mb-0" *ngIf="first.length === 0">No tienes ningun referido en este nivel</p>
                                <span class="badge bg-accent" *ngFor="let item of first"> {{ item.name +' '+item.lastname }} </span>
                            </div>

                        </div>
                    </div>
                </div>

                <!-- Item -->
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">Nivel 2</button>
                    </h2>
                    <div class="accordion-collapse collapse" id="collapseTwo" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">

                        <div class="accordion-body">

                            <div>
                                <i class="ci-user"></i> {{ two.length }}
                            </div>
                            <hr>
                            <div class="d-flex flex-wrap gap-2">
                                <p class="mb-0" *ngIf="two.length === 0">No tienes ningun referido en este nivel</p>
                                <span class="badge bg-accent" *ngFor="let item of two"> {{ item.name +' '+item.lastname }} </span>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Item -->
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">Nivel 3</button>
                    </h2>
                    <div class="accordion-collapse collapse" id="collapseThree" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <div>
                                <i class="ci-user"></i> {{ three.length }}
                            </div>
                            <hr>
                            <div class="d-flex flex-wrap gap-2">
                                <p class="mb-0" *ngIf="three.length === 0">No tienes ningun referido en este nivel</p>
                                <span class="badge bg-accent" *ngFor="let item of three"> {{ item.name +' '+item.lastname }} </span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">Nivel 4</button>
                    </h2>
                    <div class="accordion-collapse collapse" id="collapseFour" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <div>
                                <i class="ci-user"></i> {{ four.length }}
                            </div>
                            <hr>
                            <div class="d-flex flex-wrap gap-2">
                                <p class="mb-0" *ngIf="four.length === 0">No tienes ningun referido en este nivel</p>
                                <span class="badge bg-accent" *ngFor="let item of four"> {{ item.name +' '+item.lastname }} </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</section>