<!-- Content-->
<h1 class="h2">Contraseña &amp; Seguridad</h1>

<p class="pt-1">Actualiza tu contraseña de forma segura</p>

<h2 class="h5">Cambiar Contraseña</h2>

<form class="needs-validation pb-4" novalidate [formGroup]="updateForm" (ngSubmit)="update()">

    <div class="row mb-2">

        <div class="col-sm-6 mb-3">
            <label class="form-label" for="account-password-new">Nueva Contraseña</label>
            <div class="password-toggle">
                <input formControlName="password" class="form-control" [type]="pass.checked ? 'text':'password'" id="account-password-new" required #passwordIn>
                <label class="password-toggle-btn" aria-label="Show/hide password">
                    <input class="password-toggle-check" type="checkbox" (change)="pass.checked"  #pass>
                    <span class="password-toggle-indicator"></span>
                </label>
            </div>
            <small class="text-danger" *ngIf="passwordIn.value !== repasswordIn.value">La contraseñas deben ser iguales</small>
            <small class="text-danger" *ngIf="validate('password')">Min. (8) caracteres</small>
        </div>

        <div class="col-sm-6 mb-3">
            <label class="form-label" for="account-password-confirm">Confirmar contraseña</label>
            <div class="password-toggle">
                <input formControlName="repassword" class="form-control" [type]="repass.checked ? 'text':'password'" id="account-password-confirm" required #repasswordIn>
                <label class="password-toggle-btn" aria-label="Show/hide password">
                    <input class="password-toggle-check" type="checkbox" (change)="repass.checked"  #repass>
                    <span class="password-toggle-indicator"></span>
                </label>
            </div>
            <small class="text-danger" *ngIf="validate('repassword')">Min. (8) caracteres</small>

        </div>

    </div>
    <button class="btn btn-outline-primary" [disabled]="passwordIn.value !== repasswordIn.value || passwordIn.value === '' ||  repasswordIn.value === '' " type="submit">Actualizar Contraseña</button>
</form>