/* ===================================================
SWIPER
====================================================*/
.mySwiper {
  height: auto;
  width: 100vw;
}


.call-action{
  background-color: #4A39B5;
}