<section class="container mt-4">
    <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">

                <div class="tns-item tns-normal" id="tns1-item0" style="" aria-hidden="true" tabindex="-1">
                    <div class="rounded-3 px-md-5 text-center text-xl-start" style="background-color: #59c879;">
                        <div class="d-xl-flex justify-content-between align-items-center px-4 px-sm-5 mx-auto" style="max-width: 1226px;">
                            <div class="py-5 me-xl-4 mx-auto mx-xl-0" style="max-width: 490px;">
                                <h1 class="h1 text-light">Te gustaría ganar dinero con tus compras?</h1>
                                <p class="text-light pb-4">Increíble pero cierto aquí lo puedes conseguir.</p>
                                <h5 class="text-light pb-3">Pronto en:</h5>
                                <div class="d-flex flex-wrap justify-content-center justify-content-xl-start">
                                    <a class="btn-market btn-apple me-2 mb-2" href="#" role="button">
                                        <span class="btn-market-subtitle"></span><span class="btn-market-title">App Store</span>
                                    </a>
                                    <a class="btn-market btn-google mb-2" href="#" role="button">
                                        <span class="btn-market-subtitle"></span><span class="btn-market-title">Google Play</span>
                                    </a>
                                </div>
                            </div>
                            <div><img src="../../../assets/img/grocery/slider/slide01.jpg" alt="Image"></div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="carousel-item">

                <div class="tns-item tns-slide-active tns-fadeIn" id="tns1-item1" style="left: 0%;">
                    <div class="rounded-3 px-md-5 text-center text-xl-start" style="background-color: #1a6fb0;">
                        <div class="d-xl-flex justify-content-between align-items-center px-4 px-sm-5 mx-auto" style="max-width: 1226px;">
                            <div class="py-5 me-xl-4 mx-auto mx-xl-0" style="max-width: 490px;">
                                <h2 class="h1 text-light">La forma inteligente de comprár.</h2>
                                <p class="text-light pb-4">Que tus compras no sean un gasto, sino una inversión. </p>
                                <h5 class="text-light pb-3">Compra en comercio llanero</h5>
                                <!-- <div class="d-flex flex-wrap justify-content-center justify-content-xl-start"><a class="btn-market btn-apple me-2 mb-2" href="#" role="button"><span class="btn-market-subtitle">Download on the</span><span class="btn-market-title">App Store</span></a><a class="btn-market btn-google mb-2" href="#"
                                        role="button"><span class="btn-market-subtitle">Download on the</span><span class="btn-market-title">Google Play</span></a></div> -->
                            </div>
                            <div><img src="../../../assets/img/grocery/slider/slide02.jpg" alt="Image"></div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="carousel-item">

                <div class="tns-item tns-slide-active tns-fadeIn" id="tns1-item1" style="left: 0%;">
                    <div class="rounded-3 px-md-5 text-center text-xl-start" style="background-color: #f69a00;">
                        <div class="d-xl-flex justify-content-between align-items-center px-4 px-sm-5 mx-auto" style="max-width: 1226px;">
                            <div class="py-5 me-xl-4 mx-auto mx-xl-0" style="max-width: 490px;">
                                <h2 class="h1 text-light">Alguna vez has podido tener ingresos por sus compras basicas?</h2>
                                <p class="text-light pb-4">Ahora si es posible con comercio llanero.</p>
                                <!-- <div class="d-flex flex-wrap justify-content-center justify-content-xl-start"><a class="btn-market btn-apple me-2 mb-2" href="#" role="button"><span class="btn-market-subtitle">Download on the</span><span class="btn-market-title">App Store</span></a><a class="btn-market btn-google mb-2" href="#"
                                        role="button"><span class="btn-market-subtitle">Download on the</span><span class="btn-market-title">Google Play</span></a></div> -->
                            </div>
                            <div><img src="../../../assets/img/grocery/slider/slide03.png" alt="Image"></div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="carousel-item">

                <div class="tns-item tns-slide-active tns-fadeIn" id="tns1-item1" style="left: 0%;">
                    <div class="rounded-3 px-md-5 text-center text-xl-start" style="background-color: #2d2d2d;">
                        <div class="d-xl-flex justify-content-between align-items-center px-4 px-sm-5 mx-auto" style="max-width: 1226px;">
                            <div class="py-5 me-xl-4 mx-auto mx-xl-0" style="max-width: 490px;">
                                <h2 class="h1 text-light">Estas cansado de que tu dinero no te alcance?</h2>
                                <p class="text-light pb-4">Ahora puedes ganar con tus compras.</p>
                                <!-- <div class="d-flex flex-wrap justify-content-center justify-content-xl-start"><a class="btn-market btn-apple me-2 mb-2" href="#" role="button"><span class="btn-market-subtitle">Download on the</span><span class="btn-market-title">App Store</span></a><a class="btn-market btn-google mb-2" href="#"
                                      role="button"><span class="btn-market-subtitle">Download on the</span><span class="btn-market-title">Google Play</span></a></div> -->
                            </div>
                            <div><img src="../../../assets/img/grocery/slider/slide04.png" alt="Image"></div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
    </div>
</section>

<section class="container pt-4 mb-4 mb-md-5">
    <h2 class="h3 text-center mb-grid-gutter pt-2">Como funciona?</h2>
    <div class="row g-0 bg-light rounded-3">
        <div class="col-xl-4 col-lg-12 col-md-4 border-end">
            <div class="py-3">
                <div class="d-flex align-items-center mx-auto py-3 px-3" style="max-width: 362px;">
                    <div class="display-3 fw-normal opacity-15 me-4 text-primary">01</div>
                    <div class="ps-2">
                        <img class="d-block my-2" src="../../../assets/img/grocery/steps/01.png" width="72" alt="Order online">
                        <p class="mb-3 pt-1 text-primary">Agrega el producto que deseas comprar</p>
                    </div>
                </div>
                <hr class="d-md-none d-lg-block d-xl-none">
            </div>
        </div>
        <div class="col-xl-4 col-lg-12 col-md-4 border-end">
            <div class="py-3">
                <div class="d-flex align-items-center mx-auto py-3 px-3" style="max-width: 362px;">
                    <div class="display-3 fw-normal opacity-15 me-4 text-accent">02</div>
                    <div class="ps-2"><img class="d-block my-2" src="../../../assets/img/grocery/steps/02.png" width="72" alt="Grocery collected">
                        <p class="mb-3 pt-1 text-accent">Nosotros preparamos tu pedido</p>
                    </div>
                </div>
                <hr class="d-md-none d-lg-block d-xl-none">
            </div>
        </div>
        <div class="col-xl-4 col-lg-12 col-md-4">
            <div class="py-3">
                <div class="d-flex align-items-center mx-auto py-3 px-3" style="max-width: 362px;">
                    <div class="display-3 fw-normal opacity-15 me-4 text-success">03</div>
                    <div class="ps-2"><img class="d-block my-2" src="../../../assets/img/grocery/steps/03.png" width="72" alt="Delivery">
                        <p class="mb-3 pt-1 text-success">Enviamos tu pedido a tu dirección o ubicación</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- EN OFERTAS -->
<!-- <section class="container">
  <app-products-slider [params]="{'title': 'ARTICULOS EN OFERTA', 'offert': true}" ></app-products-slider>  
</section> -->

<!-- EN OFERTAS -->
<section class="container">
    <app-products-slider [params]="{'title': 'ARTICULOS EN OFERTA', 'search': 'ofertas'}"></app-products-slider>
</section>

<!-- MAS VENDIDOS -->
<section class="container">
    <app-products-slider [params]="{'title': 'ARTICULOS MAS VENDIDOS', 'search': 'vendidos'}"></app-products-slider>
</section>

<!-- NUEVOS -->
<section class="container">
    <app-products-slider [params]="{'title': 'ARTICULOS NUEVOS', 'search': 'nuevos'}"></app-products-slider>
</section>

<!-- CALL ACTION -->
<section class="container mt-4 py-4 call-action">
    <div class="py-2" style="visibility: visible; animation-name: fadeIn;">
        <div class="section-header text-center">
            <h5 class="section-description text-white">Registrate ahora <br> y se parte de nuestro equipo obteniendo beneficios inmediatos</h5>
            <a routerLink="/registrarme" class="btn btn-light rounded-pill">REGISTRARSE AHORA</a>
        </div>
    </div>
</section>

<!-- COMERCIO LLANERO -->
<section class="container mt-4 mb-grid-gutter">
    <div class="rounded-3 py-4">
        <div class="row align-items-center">
            <div class="col-md-5">
                <div class="px-4 pe-sm-0 ps-sm-5">

                    <div class="mb-3">
                        <h2 class="mb-1">COMERCIO LLANERO</h2>
                        <p class="h5 text-body fw-light">Es una empresa inovadora que te permite crear niveles de mercadeo, de los cuales tendras beneficios hasta la 4to nivel de invitados.</p>
                    </div>

                    <div>
                        <h4 class="mb-1">COMO CREAR LOS NIVELES Y OBTENER BENEFICIOS</h4>
                        <P>- Compra algunos de nuestros productos</P>
                        <P>- Subscribirse para comenzar a ganar</P>
                        <P>- Invitar a mas personas con tu link personal para que participen de esta plataforma</P>
                        <P>- Obtendras un beneficio del 4%, 3%, 2%, 1% por la compra de cada persona, de cada nivel.</P>
                    </div>

                </div>
            </div>
            <div class="col-md-7"><img src="../../../assets/img/home/banners/offer.jpg" alt="iPad Pro Offer"></div>
        </div>
    </div>
</section>

<!-- NIVELES -->
<section class="container bg-white py-lg-5 py-4">
    <h2 class="mb-0 pb-md-3 pb-2">COMO FUNCIONAN LOS NIVELES</h2>
    <p class="mb-4">Funciona a traves de la invitación de amigos y conocidos. Puedes obtener beneficios hasta el 4to nivel de invitados. Para el Nivel 1 obtendras el 4%, para el nivel 2 el 3%, para el nivel 3 el 2% y para el nivel 4 el 1%</p>

    <div class="d-flex flex-wrap justify-content-center px-4 ">

        <div class="col-md-3">
            <h4 class="display-2">1</h4>
            <h4 class="mb-2 fs-lg text-body">Comisión 4%</h4>
            <p class="mb-0 fs-sm text-muted">Son todas las Personas que Invitastes es el Nivel base</p>
        </div>
        <div class="col-md-3">
            <h4 class="display-2">2</h4>
            <h4 class="mb-2 fs-lg text-body">Comisión 3%</h4>
            <p class="mb-0 fs-sm text-muted">Son las personas invitadas por tu nivel 1,<br> 5 * 5 = 25</p>
        </div>
        <div class="col-md-3">
            <h4 class="display-2">3</h4>
            <h4 class="mb-2 fs-lg text-body">Comisión 2%</h4>
            <p class="mb-0 fs-sm text-muted">Son las personas invitadas por tu nivel 2,<br> 25 * 5 = 125</p>
        </div>
        <div class="col-md-3">
            <h4 class="display-2">4</h4>
            <h4 class="mb-2 fs-lg text-body">Comisión 1%</h4>
            <p class="mb-0 fs-sm text-muted">Son las personas invitadas por tu nivel 3,<br> 125 * 5 = 625</p>
        </div>

    </div>
</section>

<!-- TESTIMONIOS -->
<section class="container py-5 bg-light rounded-3 my-4 my-md-5 px-3 px-sm-4">
    <h2 class="h3 py-4 text-center">Testimonios</h2>

    <div class="d-flex justify-content-center align-items-center mx-auto my-5">


        <swiper [config]="config" class="mySwiper">

            <ng-template swiperSlide style="border-radius: 2rem;">
                <blockquote class="mb-2 tns-item" id="tns4-item1" aria-hidden="true" tabindex="-1">
                    <div class="card border-0">
                        <div class="card-body px-3 fs-md text-muted">
                            <div class="mb-2">
                                <div class="star-rating">
                                    <i class="star-rating-icon ci-star-filled active"></i>
                                    <i class="star-rating-icon ci-star-filled active"></i>
                                    <i class="star-rating-icon ci-star-filled active"></i>
                                    <i class="star-rating-icon ci-star-filled active"></i>
                                    <i class="star-rating-icon ci-star-filled active"></i>
                                </div>
                            </div>Comercio Llanero me brinda la posibilidad de tener un ingreso adiccional, solo por realizar las compras basicas. Ahora compro comparto y gano.
                        </div>
                    </div>
                    <footer class="d-flex justify-content-center align-items-center pt-4"><img class="rounded-circle" src="../../../assets/img/grocery/testimonios/diana.jpg" width="50" alt="Laura Willson">
                        <div class="ps-3">
                            <h6 class="fs-sm mb-n1">Diana Cuevas</h6><span class="fs-ms text-muted opacity-75">Oct 05, 2023</span>
                        </div>
                    </footer>
                </blockquote>
            </ng-template>

            <ng-template swiperSlide style="border-radius: 2rem;">
                <blockquote class="mb-2 tns-item" id="tns4-item1" aria-hidden="true" tabindex="-1">
                    <div class="card border-0">
                        <div class="card-body px-3 fs-md text-muted">
                            <div class="mb-2">
                                <div class="star-rating">
                                    <i class="star-rating-icon ci-star-filled active"></i>
                                    <i class="star-rating-icon ci-star-filled active"></i>
                                    <i class="star-rating-icon ci-star-filled active"></i>
                                    <i class="star-rating-icon ci-star-filled active"></i>
                                    <i class="star-rating-icon ci-star-filled active"></i>
                                </div>
                            </div>Comercio Llanero me ha dado la oportunidad de comprar y ganar sin salir de mi casa. Antes vendia productos por catalogo, ahora gano solo por recomendar este gran negocio.
                        </div>
                    </div>
                    <footer class="d-flex justify-content-center align-items-center pt-4"><img class="rounded-circle" src="../../../assets/img/grocery/testimonios/gloria.jpg" width="50" alt="Laura Willson">
                        <div class="ps-3">
                            <h6 class="fs-sm mb-n1">Gloria Romero</h6><span class="fs-ms text-muted opacity-75">Nov 12, 2023</span>
                        </div>
                    </footer>
                </blockquote>
            </ng-template>

            <ng-template swiperSlide style="border-radius: 2rem;">
                <blockquote class="mb-2 tns-item" id="tns4-item1" aria-hidden="true" tabindex="-1">
                    <div class="card border-0">
                        <div class="card-body px-3 fs-md text-muted">
                            <div class="mb-2">
                                <div class="star-rating">
                                    <i class="star-rating-icon ci-star-filled active"></i>
                                    <i class="star-rating-icon ci-star-filled active"></i>
                                    <i class="star-rating-icon ci-star-filled active"></i>
                                    <i class="star-rating-icon ci-star-filled active"></i>
                                    <i class="star-rating-icon ci-star-filled active"></i>
                                </div>
                            </div>Con Comercio Llanero, tengo los productos en la comodidad de mi hogar sin exponerme en largas filas, y ademas gano por las compras de personas que ni conozco. Excelente oportunidad para todos.
                        </div>
                    </div>
                    <footer class="d-flex justify-content-center align-items-center pt-4"><img class="rounded-circle" src="../../../assets/img/grocery/testimonios/dayanaR.jpg" width="50" alt="Laura Willson">
                        <div class="ps-3">
                            <h6 class="fs-sm mb-n1">Dayana Rios</h6><span class="fs-ms text-muted opacity-75">Nov 18, 2023</span>
                        </div>
                    </footer>
                </blockquote>
            </ng-template>

            <ng-template swiperSlide style="border-radius: 2rem;">
                <blockquote class="mb-2 tns-item" id="tns4-item1" aria-hidden="true" tabindex="-1">
                    <div class="card border-0">
                        <div class="card-body px-3 fs-md text-muted">
                            <div class="mb-2">
                                <div class="star-rating">
                                    <i class="star-rating-icon ci-star-filled active"></i>
                                    <i class="star-rating-icon ci-star-filled active"></i>
                                    <i class="star-rating-icon ci-star-filled active"></i>
                                    <i class="star-rating-icon ci-star-filled active"></i>
                                    <i class="star-rating-icon ci-star-filled active"></i>
                                </div>
                            </div>Con Comercio Llanero ahora compro inteligentemente. Si antes realizaba mis compras en cualquier lugar y no ganaba nada, ahora tengo esa gran oportunidad.
                        </div>
                    </div>
                    <footer class="d-flex justify-content-center align-items-center pt-4"><img class="rounded-circle" src="../../../assets/img/grocery/testimonios/sandraC.jpg" width="50" alt="Laura Willson">
                        <div class="ps-3">
                            <h6 class="fs-sm mb-n1">Sandra Camargo</h6><span class="fs-ms text-muted opacity-75">Dic 02, 2023</span>
                        </div>
                    </footer>
                </blockquote>
            </ng-template>

            <ng-template swiperSlide style="border-radius: 2rem;">
                <blockquote class="mb-2 tns-item" id="tns4-item1" aria-hidden="true" tabindex="-1">
                    <div class="card border-0">
                        <div class="card-body px-3 fs-md text-muted">
                            <div class="mb-2">
                                <div class="star-rating">
                                    <i class="star-rating-icon ci-star-filled active"></i>
                                    <i class="star-rating-icon ci-star-filled active"></i>
                                    <i class="star-rating-icon ci-star-filled active"></i>
                                    <i class="star-rating-icon ci-star-filled active"></i>
                                    <i class="star-rating-icon ci-star-filled active"></i>
                                </div>
                            </div>Por mis labores diarias no cuento con el tiempo necesario para salir a comprar. Ahora solo ingreso a la pagina, realizo el pedido y tengo todo lo que quiero en mi casa.
                        </div>
                    </div>
                    <footer class="d-flex justify-content-center align-items-center pt-4"><img class="rounded-circle" src="../../../assets/img/grocery/testimonios/jhon.jpg" width="50" alt="Laura Willson">
                        <div class="ps-3">
                            <h6 class="fs-sm mb-n1">Jhon Arevalo</h6><span class="fs-ms text-muted opacity-75">Dic 10, 2023</span>
                        </div>
                    </footer>
                </blockquote>
            </ng-template>



        </swiper>
    </div>


</section>