<!-- Footer-->
<a href="tel:+573044419848" target="_blank" class="btn-flotante2 btn btn-dark rounded-pill btn-icon">
    <i class="ci-phone"></i>
</a>
<a href="https://wa.link/ogp099" target="_blank" class="btn-flotante btn btn-success rounded-pill btn-icon p-1">
    <img src="../../../assets/fonts/whatsappWhite.svg" width="40px" alt="whatsapp">
</a>
<footer class="footer bg-dark pt-5">
    <div class="px-lg-3 pt-2 pb-4">
        <div class="mx-auto px-3" style="max-width: 80rem;">
            <div class="row">
                <div class="col-xl-2 col-lg-3 col-sm-4 pb-2 mb-4">
                    <div class="mt-n1">
                        <a class="d-inline-block align-middle" href="#"><img class="d-block mb-4" src="../../../assets/img/logo.webp" width="117" alt="Cartzilla"></a>
                    </div>

                </div>
                <div class="col-xl-3 col-lg-4 col-sm-4">
                    <div class="widget widget-links widget-light pb-2 mb-4">
                        <h3 class="widget-title text-light">Navegacion</h3>
                        <ul class="widget-list">
                            <li class="widget-list-item"><a class="widget-list-link" routerLink="/home">Inicio</a></li>
                            <li class="widget-list-item"><a class="widget-list-link" routerLink="/login">Login</a></li>
                            <li class="widget-list-item"><a class="widget-list-link" routerLink="/registrarmet">Registro</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-sm-4">
                    <div class="widget widget-links widget-light pb-2 mb-4">
                        <h3 class="widget-title text-light">Terminos y Condiciones</h3>
                        <ul class="widget-list">
                            <li class="widget-list-item"><a class="widget-list-link" routerLink="/policy">Politicas de Privacidad</a></li>
                            <li class="widget-list-item"><a class="widget-list-link" routerLink="/policy">Terminos y condiciones</a></li>
                        </ul>
                    </div>
                    <div class="widget widget-light pb-2 mb-4">
                        <h3 class="widget-title text-light">Siguenos en:</h3>
                        <a class="btn-social bs-light bs-facebook me-2 mb-2" href="https://www.facebook.com/comerciollanerocol" target="_blank"><i class="ci-facebook"></i></a>
                        <a class="btn-social bs-light bs-instagram me-2 mb-2" href="https://www.instagram.com/comerciollanero" target="_blank"><i class="ci-instagram"></i></a>
                        <a class="btn-social bs-light bs-instagram me-2 mb-2" href="https://www.tiktok.com/@comercio_llanero?lang=es" target="_blank"><i class="ci-tiktok"></i></a>
                    </div>
                </div>
                <div class="col-xl-4 col-sm-8">
                    <div class="widget pb-2 mb-4">
                        <h3 class="widget-title text-light pb-1">Pronto en</h3>
                        <div class="d-flex flex-wrap">
                            <div class="me-2 mb-2"><a class="btn-market btn-apple pointer" role="button"><span class="btn-market-subtitle">Download on the</span><span class="btn-market-title">App Store</span></a></div>
                            <div class="mb-2"><a class="btn-market btn-google pointer" role="button"><span class="btn-market-subtitle">Download on the</span><span class="btn-market-title">Google Play</span></a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-darker px-lg-3 py-3">
        <div class="d-sm-flex justify-content-between align-items-center mx-auto px-3" style="max-width: 80rem;">
            <div class="fs-xs text-light opacity-50 text-center text-sm-start py-3">© Todos los derechos reservados por: Comercio Llanero, {{year}} </div>
            <!-- <div class="py-3"><img class="d-block mx-auto mx-sm-start" src="img/cards-alt.png" width="187" alt="Payment methods"></div> -->
        </div>
    </div>
</footer>